body {
    background-image: url("../images/vinyl-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.form-control, .form-select{
    width: 75%!important;
}

.model-link{
    text-decoration: none;
    color: black;
}

h1, h2{
    text-align: center;
    font-family: Arial, sans-serif !important;
    font-weight: bold !important;
}

.table{
    font-size: 18px;
    margin-left: 10px;
}

a{
    text-decoration: none !important;
    color: inherit !important;
}

#prediction{
    margin-top: 50px;
}